rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null
    }

    match /classGroups/{classGroupID} {
      function validateFields() {
        let requestData = request.resource.data;
        // let resourceData = resource.data;
        return requestData.keys().hasOnly(['editors', 'classes', 'classGroupName', 'cgAdmin', 'meta']) &&
          requestData.editors is map &&
          requestData.classes is map &&
          requestData.classGroupName is string
      }
      
      function validControlBack() {
        let requestData = request.resource.data;
        let classId = requestData.get("meta", {}).get("metaId", null);
        
        let editorChanged = requestData.diff(resource.data).affectedKeys().hasAny(["editors"]);
        let prevClasses = resource.data.editors.get(classId, []);
        let newClasses = requestData.editors.get(classId, []);

        return editorChanged == false || (
          requestData.editors.diff(resource.data.editors).affectedKeys().hasOnly([classId]) &&
          prevClasses.size() > newClasses.size() ? (
            // Editor removed
            prevClasses.removeAll(newClasses).size() == 1 && (
              // get(/databases/$(database)/documents/teachers/$(prevClasses.removeAll(newClasses)[0])).data.invitations.get(classId, null) == null ||
              getAfter(/databases/$(database)/documents/teachers/$(prevClasses.removeAll(newClasses)[0])).data.invitations[classId].status == false
            )
          ) : (
            // Editor Added
            newClasses.removeAll(prevClasses).size() == 1 && (
              // getAfter(/databases/$(database)/documents/teachers/$(newClasses.removeAll(prevClasses)[0])).data.invitations.get(classId, null) == null ||
              getAfter(/databases/$(database)/documents/teachers/$(newClasses.removeAll(prevClasses)[0])).data.invitations[classId].status == true &&
              (!resource.data.editors.keys().hasAny([classId]))
            )
          )
        );
      }

      // // Doesn't account for mutation of class key, always returns true if no class is added or removed
      // function validClassChange(requestData, resourceData) {
      //   let diff = requestData.classes.diff(resourceData.classes);
  
      //   return 
      //     (
      //       diff.addedKeys().size() == diff.affectedKeys().size() &&
      //       diff.addedKeys() == requestData.allClassIds.removeAll(resourceData.allClassIds).toSet()
      //     ) || (
      //       diff.removedKeys().size() == diff.affectedKeys().size() &&
      //       diff.removedKeys() == resourceData.allClassIds.removeAll(requestData.allClassIds).toSet()
      //     ) || (
      //       diff.removedKeys().size() == 0 && diff.addedKeys().size() == 0
      //     );
     
      // }

      // function checks() {
      //   let resourceData = resource.data;
      //   let requestData = request.resource.data;
      //   return (!requestData.diff(resourceData).affectedKeys().hasAny(["classes"])) || validClassChange(requestData, resourceData);
      // }
      

      allow create: if request.resource.data.cgAdmin == request.auth.uid && validateFields()
      allow update: if resource.data.cgAdmin == request.auth.uid && request.resource.data.cgAdmin == resource.data.cgAdmin && 
        validateFields() && 
        validControlBack()
        // validControlBack() && 
        // // checks()
      allow read: if resource.data.cgAdmin == request.auth.uid
      allow delete: if resource.data.cgAdmin == request.auth.uid


      match /classes/{classID} {

        function classAssignedToTeacher() {
          let classGroup = getAfter(/databases/$(database)/documents/classGroups/$(classGroupID)).data;
          return classGroup.editors.get([classID], []).hasAll([request.auth.uid])
        }
        function isClassAdmin() {
          let classGroup = getAfter(/databases/$(database)/documents/classGroups/$(classGroupID)).data;
          return classGroup.cgAdmin == request.auth.uid;
        }
        function validateFields(requestData) {
          return requestData.className.size() > 0 &&
          requestData.className.size() < 20;
        }

        allow read: if classAssignedToTeacher() || isClassAdmin() || resource == null

        allow create: if isClassAdmin() && validateFields(request.resource.data)

        allow update: if (classAssignedToTeacher() || isClassAdmin()) && validateFields(request.resource.data)  

        allow delete: if isClassAdmin() && 
          (
            !getAfter(/databases/$(database)/documents/classGroups/$(classGroupID)).data.editors.keys().hasAny([classID]) ||
            getAfter(/databases/$(database)/documents/classGroups/$(classGroupID)).data.editors[classID].size() == 0
          )

        match /{allSubCollections=**} {
          allow read, write: if false
        }
      }
    }

    match /teachers/{teacherID} {
      
      function isHimself() {
        return request.auth.uid == teacherID;
      }

      // function fetcher(first, second) {
      //   let boolean = (first == null) && (second != null);
      //   let another = debug(first) == debug(second);
      //   let s = debug(first.classGroupId) == debug(second.email);
      //   // let doc =  {
      //   //   'true': get(/databases/$(database)/documents/classGroups/$(second.classGroupId)),
      //   //   'false': get(/databases/$(database)/documents/classGroups/$(first.classGroupId)),
      //   // };
      //   // let doc = boolean ? "world hello" : "hello world";
      //   let doc = debug(boolean ? get(/databases/$(database)/documents/classGroups/$(second.classGroupId)) : get(/databases/$(database)/documents/classGroups/$(first.classGroupId)));
      //   return doc
      // }

      function validInvitation() {
        
        let requestData = request.resource.data;
        let metaId = requestData.meta.get("metaId", null);
        let resourceData = resource.data;
        
        let rootChanges = requestData.diff(resourceData).affectedKeys();
        let nestedChanges = requestData.get('invitations', {}).diff(resourceData.get('invitations', {})).affectedKeys();
        let invitation = requestData.get('invitations', {}).get(metaId, {});
        let resourseInvitation = resourceData.get('invitations', {}).get(metaId, {});

        let doc = getAfter(/databases/$(database)/documents/classGroups/$(invitation.classGroupId)).data;

        return (
          rootChanges.hasOnly(['invitations', 'meta']) && 
          nestedChanges.hasOnly([metaId]) &&
          doc.classes.keys().hasAny([metaId]) &&
          doc.cgAdmin == request.auth.uid && (
            (
              invitation.status == true && 
              doc.editors[metaId].hasAll([teacherID]) &&
              resourseInvitation == {} ? (
                invitation.email == request.auth.token.email &&
                doc.classes[metaId].className == invitation.className
              ) : (
                invitation.diff(resourseInvitation).affectedKeys().hasOnly(["status"])
              )
            ) || (
              invitation.status == false && 
              invitation.diff(resourseInvitation).affectedKeys().hasOnly(["status"]) &&
              doc.editors[metaId].hasAll([teacherID]) == false
            )
          )     
        )
      }

      allow read: if signedIn() && isHimself()
      allow create: if signedIn() && isHimself()
      allow update: if signedIn() && (
        isHimself() || 
        validInvitation() 
      )
      allow delete: if true
    }

    match /teachersPublic/{teacherID} {

      function isHimself() {
        return request.auth.uid == teacherID
      }

      allow read: if signedIn()
      allow create: if signedIn() && isHimself() && existsAfter(/databases/$(database)/documents/teachers/$(teacherID))
      allow update, delete: if isHimself()
    }









    // match /test/first {
    //   function my() {
    //     let j = ([0, 0, {"hello": "there is something asdf"}]).toSet();
    //     let k = ({"a": "hello", "b": {"ini": "some", "ano": "another"}}).diff({"a": "hello", "b": {"ini": "sdfsdd"}, "c": "another"}).affectedKeys();
    //     let another = ['a', 'b'];
    //     return debug(debug(j) == debug([1, 2, 3].toSet()));
    //   }
      
    //   allow read: if my() || true;
    //   allow write: if true;
    // }



    function TeacherOrAdmin(classGroupId, myResource) {
      let classGroup = get(/databases/$(database)/documents/classGroups/$(classGroupId)).data;
      return classGroup.editors.get(request.auth.uid, []).hasAll([myResource.classId]) ||  
        classGroup.cgAdmin == request.auth.uid
    }
    
    match /attendance/{sheetID} {
      // function verify() {
      //   let classGroup = get(/databases/$(database)/documents/classGroups/$(request.resource.data.classGroupId)).data;
      //   return classGroup.editors.get(request.auth.uid).hasAll(request.resource.data.classId) && 
      //     classGroup.students.size() == request.resource.data.stats.size() &&
      //     request.resource.data.createdAt == request.time.date() && 
      //     request.resource.data.lastModified == request.time
      // }

      allow update: if TeacherOrAdmin(resource.data.classGroupId, resource.data) &&

        timestamp.date(int(sheetID[20:24]), int(sheetID[24:26]), int(sheetID[26:28]), ) == request.time.date() &&
        request.resource.data.classId == resource.data.classId &&
        request.resource.data.classGroupId == resource.data.classGroupId &&
        request.resource.data.students.size() == resource.data.students.size() &&
        request.resource.data.createdAt == resource.data.createdAt && 

        request.resource.data.lastModified == request.time 
        
      allow create: if TeacherOrAdmin(request.resource.data.classGroupId, request.resource.data) && 
        // get(/databases/$(database)/documents/classGroups/$(request.resource.data.classGroupId)/classes/$(request.resource.data.classId)).data.students.size() == request.resource.data.students.size() &&
        request.resource.data.createdAt == request.time.date() && 
        
        request.resource.data.lastModified == request.time 

      allow read: if TeacherOrAdmin(resource.data.classGroupId, resource.data) || resource == null
    }

    match /monthlyAttendance/{document} {
      allow write: if false
      allow read: if resource == null || TeacherOrAdmin(resource.data.classGroupId, resource.data)
    }

    match /some/{document} {
      allow read, write: if true
    }

    

    // match /teacher/{teacherID} {
    //   // all class groups the teacher is admin of and class groups which he has joined
    // }
  }
}