:root {
    --student-width-for-desktop: 20rem;
}

.submitDialog::backdrop {
    background-color: black;
    opacity: 0.75;
}
.submitDialog {
    border: none;
    padding: 1rem;
}

.submitDialog > div {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.btnWrapper {
    width: 100%;
}
.btnWrapper button {
    width: 100%;
}


.allStudents {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: center;
}

.warnP {
    display: none;
    margin: 0px;
    color: red;
}

@media (width >= 640px) {
    .allStudents {
        /* Defined above */
        width: var(--student-width-for-desktop); 
    }
}